<header>
  <div class="text-container">
    <h1 class="main-title">#MAGALIYCESAR</h1>
    <p class="invite-text">Ingresá tu número de cédula y recibí tu invitación!</p>
    <md-input-container>
      <input mdInput placeholder="Número de Cédula" type="number" [(ngModel)]="dni" class="input-check">
    </md-input-container>
    <div><button md-button (click)="openDialog()" class="search-button mat-elevation-z8">Ver Invitación</button></div>
    <p class="home-text party"><span class="place-home">Brindis y Cena</span><br>La Riviere</p>
    <p class="home-text ceremony"><span class="place-home">Ceremonia</span><br><span class="ceremony-text">
      Sta. María y San Nicolás
    </span></p>

    <p class="home-text date-home">28/10/2017</p>
  </div>

  <div class="photo-container mat-elevation-z8">
    <img src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/560006_10151873194262248_1335121226_n.jpg?oh=d24bacba6138f5f386d99b2b7b3f9812&oe=5A213B5A" alt="" class="photo-item">
    <img src="https://scontent-mad1-1.xx.fbcdn.net/v/t31.0-8/271313_10150274833337248_25018_o.jpg?oh=f6d7b6c1b8b70c879abf54235838520a&oe=5A1F82B6" alt="" class="photo-item">
    <img src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/12376701_10153822773987248_5727454031836885901_n.jpg?oh=b3718f87dbbef15b9b72743b3a27806e&oe=5A2C2230" alt="" class="photo-item">
    <img src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/422176_10150629925737248_1110872833_n.jpg?oh=1900510fc3bfb05c88b22f12c3296c4b&oe=59F1E89C" alt="" class="photo-item">
    <p class="photo-wrapper-text">DESDE 2010 <br>HASTA SIEMPRE</p>
  </div>
</header>
