/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  font-family: 'Amatic SC', cursive;
  margin: 0px;
  padding: 0px;
}


.mat-focused .mat-input-placeholder {
  color: #000;
}

.mat-input-underline {
  background-color: #E6E3DA;
}

.mat-input-placeholder {
  color: #000;
  font-size: 2rem;
}

.mat-input-ripple {
  background-color: #000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
}
